
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/InstructorLayout/Index.cshtml";
}

<div class="container">
    <img src="@ViewBag.ImgUrl" width="250px"/>
    <br />
    <br />
    
    <h4>    Hoş geldin @ViewBag.FullName</h4>
</div>